body{
  background-image:url("../images/dirty_old_shirt_@2X.png");
  color:orangered;
  background-color:transparent;
  font-family:cursive, sans-serif;
  text-align:center;
  border:0;
}
#container{
  width:100%;
  margin:0 auto;
}
img{
  width:215px;
  height:215px;
}
.crystal{
  background-color:transparent;
  border:0;
}
footer{
  flex-shrink:0;
  color:black;
  }
.bg-dark{
  background-color:transparent !important;
  }