body{
  background-image:url("../images/dirty_old_shirt_@2X.png");
  color:orangered;
  font-family:cursive, sans-serif;
  text-align:center;
  border:0;
}
#container{
  width:100%;
  margin:0 auto;
}
img{
  width:215px;
  height:215px;
}
.crystal, .pause{
  background-color:transparent;
  color:blue;
  border:0;
}